*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.bg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(12,3,51,0.3), rgb(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.explore_icon{
    position: absolute;
    left: 25px;
    bottom: 14px;
    font-size: 25px;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 20px 8%;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}

nav .logo{
    width: 20px;

}

nav ul li{
    list-style: none;
    margin: 20px;

}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.content{
    text-align: center;

}

.content h1{
    font-size: 160px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
}

.content h1:hover{
    -webkit-text-stroke: 5px rgb(255, 0, 128);
    color: transparent;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}



.bg_vid{
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.398), rgba(0, 0, 0, 0.499));
    right: 0;
    bottom: 0;
    z-index: -1;

}

@media(min-aspect-ratio: 16/9){
    .bg_vid{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .bg_vid{
        width: auto;
        height: 100%;
    }
}

.icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background: white; */
    perspective: 900px;
    margin-right: -50px;
}
.icon .icon_items{
    position: absolute;
    width: 75%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.202), rgba(255, 255, 255, 0.202));
    box-shadow: 5px 5px 5px 5px rgb(255, 0, 128);
    height: 100%;
    border-radius: 10000%;
    margin-top: -10px;
    border: 5px solid rgb(255, 255, 255);
}


.icon .icon_items:nth-child(1){
    border-bottom: 15px solid rgb(255, 255, 255);
    transform: rotateX(10deg) rotateY(-50deg);
    animation: rotate-one 5s linear infinite;
}

.icon .icon_items:nth-child(2){
    border-right: 15px solid rgb(255, 255, 255);
    transform: rotateX(25deg) rotateY(135deg);
    animation: rotate-two 5s linear infinite;
}
.icon .icon_items:nth-child(3){
    border-left: 10px solid rgb(255, 0, 128);
    transform: rotateX(50deg) rotateY(-20deg);
    animation: rotate-three 5s linear infinite;
}

.icon .icon_items:nth-child(4){
    border-top: 10px solid rgb(255, 255, 255);
    transform: rotateX(30deg) rotateY(145deg);
    animation: rotate-four 3s linear infinite;
}




@keyframes rotate-one {
    to{
        transform: rotateX(100deg) rotateY(70deg) rotateZ(0deg);

    }
}

@keyframes rotate-two {
    to{
        transform: rotateX(-50deg) rotateY(-1deg) rotateZ(0deg);

    }
}

@keyframes rotate-three {
    to{
        transform: rotateX(110deg) rotateY(-35deg) rotateZ(360deg);

    }
}
@keyframes rotate-four {
    to{
        transform: rotateX(-40deg) rotateY(125deg) rotateZ(90deg);

    }
} 



/* ================== SIDE BAR!!!!!!!=========================== */

/* 
.title_1{
    font-size: 20px;
    margin-top: 20px;
    color: white;
    font-weight: 400;
    text-decoration: underline;
}
.side_bar{
    width: 140px;
    height: 100%;
    background: rgb(10, 10, 10, .65);
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right:  6px solid rgba(255, 255, 255, .09);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    position: absolute;
    left: 0px;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    display: flex;
}


.sBar{
    margin-left: -30px;
    margin-top: 20vh;
    padding: 0px;
}



.sBar ul li{
    list-style: none;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20vh;
    
}

.sBar ul li a{
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 12, 109);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}

.sBar ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}

.sBar ul li:hover::after{
    width: 125%;
} */


/* =============================================================== */



.title_1{
    font-size: 40px;
    text-align: center;
    width: 160px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin-left: 15px;
    margin-top: 20px;
    text-decoration: underline;
}


.side_bar{
    width: 200px;
    height: 100%;
    background: linear-gradient(to top,black, rgba(0, 14, 38, 0.69));
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right:  2px solid rgba(0, 0, 0, 0.538);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(15px);
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    transition: all .05s ease;
    
}




.sBar{
    /* margin-left: -18vh;
    margin-right: 20px; */
    margin-top: 15vmin;
    padding: 0px;
    

}


.sBar ul li{
    list-style: none;
    position: relative;
    border-radius: 1px;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 2px;
    margin: 0 auto;
}
.itemS{
    margin-left: 30px;
    margin-bottom: -12px;

}

.sBar ul li a{
    display: block;
    text-decoration:none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    margin-left: -40px;
    padding: 13px 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.177);
    position: relative;
    width: 200px;
}

.sBar ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: linear-gradient(to left,rgb(255, 12, 109), rgba(255, 255, 255, 0.638), rgb(255, 12, 109));
    border-radius: 300%;
    position: absolute;
    left: 0;
    bottom: 12px;
    transition: 0.6s;
    margin-left: -15px;

}

.sBar ul li:hover::after{
    width: 100%;
}



.logo h1{
    margin-bottom: 100px;

}

.logo .icon{
    position: absolute;
    top:270px;
    right: 160px;
}

.logo{
    position: absolute;
    right: 160px;
}




.icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* background: white; */
    perspective: 900px;
}
.icon .icon_items{
    position: absolute;
    width: 75%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.202), rgba(255, 255, 255, 0.202));
    box-shadow: 2px 2px 2px 2px rgb(255, 12, 109);
    height: 100%;
    border-radius: 10000%;
    margin-top: -40px;
    margin-left: -27px;
    border: 5px solid rgb(255, 255, 255);
}


.icon .icon_items:nth-child(1){
    border-bottom: 15px solid rgb(255, 255, 255);
    transform: rotateX(10deg) rotateY(-50deg);
    animation: rotate-one 4s linear infinite;
}

.icon .icon_items:nth-child(2){
    border-right: 15px solid rgb(255, 255, 255);
    transform: rotateX(25deg) rotateY(135deg);
    animation: rotate-two 3s linear infinite;
}
.icon .icon_items:nth-child(3){
    border-left: 10px solid rgb(255, 12, 109);
    transform: rotateX(50deg) rotateY(-20deg);
    animation: rotate-three 3s linear infinite;
}

.icon .icon_items:nth-child(4){
    border-top: 10px solid rgb(255, 255, 255);
    transform: rotateX(30deg) rotateY(145deg);
    animation: rotate-four 3s linear infinite;
}




@keyframes rotate-one {
    to{
        transform: rotateX(100deg) rotateY(70deg) rotateZ(0deg);

    }
}

@keyframes rotate-two {
    to{
        transform: rotateX(-50deg) rotateY(-1deg) rotateZ(0deg);

    }
}

@keyframes rotate-three {
    to{
        transform: rotateX(110deg) rotateY(-35deg) rotateZ(360deg);

    }
}
@keyframes rotate-four {
    to{
        transform: rotateX(-40deg) rotateY(125deg) rotateZ(90deg);

    }

    
} 
.w_time{
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    color: rgb(255, 12, 109);
    
}
