#reg, #log{
    /* background-color: rgba(70, 79, 87, 0.459);
    border-radius: 5%; */
    border-style:unset;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.790), rgba(0, 14, 38, 0.790));
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right:  2px solid rgba(255, 255, 255, 0.538);
    backdrop-filter: blur(2px) ;
    -webkit-backdrop-filter:blur(2px);
    width: auto;
    height: 575px;
    margin-top: 2%;
    margin-bottom: 30px;
}

.click{
    position: absolute;
    right: 100px;
}

/* .form span{
    position: absolute;
    height: 75%;
    width: 20%;

}

.form span:nth-child(1){
    background: linear-gradient( rgb(255, 0 ,109), black);

    top: 0;
    left: -48%;
    animation: 10s span1 infinite linear;
    animation-delay: .5s;
}

@keyframes span1{
    0%
    {
        top: -48%;
        left: -48%;

    }
    25%
    {
        top: -48%;
        left: 98%;
    }
    50%
    {
        top: 98%;
        left: 98%;
    }
    75%
    {
        top: 98%;
        left: -48%;
    }
    100%
    {
        top: -48%;
        left: -48%;
    }
} */