#help{
    font-size: 30px;
    position: relative;
    right: -410px;
    top: 2vh;

}

.experience{
    width: 700px;
    margin: 20px;
    margin-top: 6vh;
    position: relative;
    right: -40vh;
    align-items: center;
}
.left_form{

    text-align: center;
    border-radius: 10px;
    background: linear-gradient(to top,black, rgba(0, 14, 38, 0.69));
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right:  2px solid rgba(106, 106, 106, 0.538);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(15px);
    height: 60vh;

}



#routine{
    margin-left: -30px;
}

.share_group{
    margin-left: 22vh;
    text-align: center;
}

.r_label{
    margin-left: -10px;
}

.form-label{
    color: rgb(255, 0 , 109);
    font-size: 16px;
    font-weight: 600;
}

.share_icon{
    margin-left: 79vh;
    margin-bottom: -1.9vh;
    font-size: 25px;
}

.share_i{
    border-radius: 100%;
    border: 2px dotted white;
}

