*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* TITLES ================================================================= */
#title{
    font-size: 75px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#title_second{
    font-size: 80px;
    font-weight: 600;
    margin-top: 0px;
    padding: 0px;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#share_title{
    font-size: 50px;
    font-weight: 600;
    position: relative;
    right:-37vh;
    margin-top: 4vh;
    padding: 0px;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

#routine_title{
    font-size: 55px;
    font-weight: 600;
    margin-top: 0px;
    padding: 0px;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.share_routine_container{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 50px;
    height: 775px;
    position: relative;
    right: -100px;
}




.share_routine_nav{
    text-align: end;
    width: 450px;
    position: relative;
    right: -800px;
    top: -40px;

}

#whats_new{
    font-size: 50px;
    font-weight: 700;
    margin: 20px;
    margin-left: 48vh;
    color:white;
    
    
    
    ;
    padding: 0px;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#check_this{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin: 20px;
    padding: 0px;
    position: relative;
    right: -45vh;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.home_pgh{

    margin: 30px;
    position: absolute;
    top: 100px;
    font-weight: 900;
    right: 400px;
    color: rgb(255, 255, 255);

}




/* TUTORIALS W BY MUSCLES =================================*/


.w_by_muscles{
    margin: 20px;
}



/* =============HOME TABLE=============================== */


#workout_table{
    font-size: 18px;
    border-style:unset;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.790), rgba(0, 14, 38, 0.790));
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right:  2px solid rgba(0, 0, 0, 0.538);
    backdrop-filter: blur(6px) ;
    -webkit-backdrop-filter:blur(6px);
    margin: 50px;
    color: rgb(255, 255, 255);
    border-bottom:2px solid rgba(131, 131, 131, 0);
    border-right:2px solid rgba(131, 131, 131, 0.718);
    position: absolute;
    right: 90px;
    padding: 15px;
    box-shadow: 0 4px 32px rgb(0, 0, 0);
    width: 130vh;
    height:fit-content;
    font-weight: 500;
    
}


/* ================================================================ */




/* BACKGROUNDS==================================================== */
#background{
    margin: 20px;
}

.background{

    animation:fadeIn 2s ease-in-out;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.475), rgba(0, 0, 0, 0.475)), url(../imgs/pool.png);
}


html, .bodyy {
    height: 100%;
}

.bodyy {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #f5f5f5;
    width: 100%;
    height: 100%;
    animation:fadeIn 2s ease-in-out;
    background-image:linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)), url(../imgs/platform.jpeg);

}


.second_background{
    animation:fadeIn 2s ease-in-out;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../imgs/new_imgs/clouds.gif);

}

.home_bg{
    animation:fadeIn 2.5s ease-in-out;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    background-image:linear-gradient(rgba(0, 0, 0, 0.350), rgba(11, 11, 11, 0.250)), url(../imgs/lobby.jpeg);


}

.tutorials_bg{
    animation:fadeIn 2s ease-in-out;
    width: 100vh;
    height: 100%;
    margin: 20px;
    background-size:cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.475), rgba(0, 0, 0, 0.475)), url(../imgs/new_imgs/pexels-ivan-samkov-4164450.jpg) ;

}

.share_bg{
    animation:fadeIn 2s ease-in-out;
    width: 100vh;
    height: 100%;
    font-size: 15px;
    background-size:cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url(../imgs/new_imgs/craig-lovelidge-COxd0Jbe7u8-unsplash.jpg) ;

}


.edit_bg{
    animation:fadeIn 2s ease-in-out;
    width: 100vh;
    height: 100%;
    margin: 20px;
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.475), rgba(0, 0, 0, 0.475)), url(../imgs/boxing_ring.jpeg) ;


}


.view_routine_bg{
    animation:fadeIn 2s ease-in-out;
    width: 100vh;
    height: 100%;
    margin: 20px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.475), rgba(0, 0, 0, 0.475)), url(../imgs/new_imgs/adam-wilson-gNzqerPFtWs-unsplash.jpg) ;


} 


/* ================================================================================ */




.logo1, .logo2{
    height: 125px;
    border-radius: 200%;
    border: 4px solid rgba(255, 12, 109, 0.552);

}


.nav_bar{
    width: 300px;
    margin: auto;
    padding: 10px 0;
    display: flex;
    position: relative;
    right: -478px;
    
}

.second_nav{
    text-align: center;
    background-color: rgba(70, 79, 87, 0.459);
    width: 350px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 2px 2px white;

}



.home_sm_nav{
    background-color: rgba(70, 79, 87, 0.459);
    box-shadow: 2px 2px white;
    border-radius: 10px;
}

.home_nav{

    width: 85%;
    margin: auto;
    margin-top: -20px;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: end;

}




/* WELCOME_PATH NAV BAR */


.nav_bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav_bar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav_bar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ff0c6d;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}

.nav_bar ul li:hover::after{
    width: 100%;
}


/* HOME  NAV BAR========================================*/

.home_nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.home_nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.home_nav ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: #ff0c6d;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}

.home_nav ul li:hover::after{
    width: 100%;
}


/* ============================================================== */

/* SHARE ROUTINE NAV BAR */


.share_routine_nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.share_routine_nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.share_routine_nav ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: #ff0c6d;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.share_routine_nav ul li:hover::after{
    width: 100%;
}


/* ============EDIT ====================== */
.edit_routine_sm_nav{
    background-color: rgba(70, 79, 87, 0.459);
    box-shadow: 2px 2px white;
    border-radius: 10px;
    
}
.edit_routine_nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.edit_routine_nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.edit_routine_nav ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: #ff0c6d;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.edit_routine_nav ul li:hover::after{
    width: 100%;



}
.edit_routine_nav{
    margin-right: -750px;
}
.edit_routine_sm_nav{
display: flex;
justify-content: flex-end;
}




.flexx{
    display: flex;
    justify-content: flex-end;
    width: 500px;

}

/* ===========VIEW ROUTINE NAV================================ */



.routine_sm_nav{
background-color: rgba(70, 79, 87, 0.459);
box-shadow: 2px 2px white;
border-radius: 10px;

}
#view_routine{
    display: flex;
    justify-content: flex-end;
}
.routine_nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.routine_nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.routine_nav ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: #ff0c6d;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.routine_nav ul li:hover::after{
    width: 100%;
}


/* ============================================================== */




/* =====TUTORIALS LINKS========================================== */




#links_nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    border-radius: 5px;
}

#links_nav ul li a{
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 12, 109);
    text-transform: uppercase;
    font-weight: 600;
}

#links_nav ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: linear-gradient(to left,#26ed4a, rgba(255, 255, 255, 0.638), #26ed4a);
    border-radius: 300%;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}

#links_nav ul li:hover::after{
    width: 100%;
}

/* ============ ACTION LINKS=============================

*/
.action{
    width: 350px;
    font-size: 15px;
    margin: 0;
}


.action ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    left: -15px;
    border-radius: 5px;
}

.action ul li a{
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 600;
}

.action ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: linear-gradient(to left,rgb(255,0,109), rgba(255, 255, 255, 0.638), rgb(255,0,109));
    border-radius: 100%;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

.action ul li:hover::after{
    width: 100%;
}



/* ====================================================== */



#left_box, #right_box{
    /* background-color: rgba(1, 12, 21, 0.459);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 5%;
    width: 530px;
    border-right: rgba(141, 141, 141, 0.202); */
    border-style:unset;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.790), rgba(0, 14, 38, 0.790));
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right:  2px solid rgba(255, 255, 255, 0.538);
    backdrop-filter: blur(2px) ;
    -webkit-backdrop-filter:blur(2px);
    width: 530px;
    height: 575px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.click{
    position: absolute;
    bottom: 220px;
    left: 700px;
    font-size: 20px;
}

.create_btn{
    border-radius: 20px;
    position: absolute;
    right: 31vh;
    top: 62vh;
}

.update_btn{
    
        border-radius: 20px;
        position: relative;
        right: -130px;
        top: 28vh;
    
}



.top_right_box, .top_left_box{
    text-decoration: underline;
    margin: 10px;

}

.form-group{
    width: 300px;
    height: 70px;
}


button{
    width: 200px;
    font-size: 18px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid rgba(255, 12, 109, 0.552);
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow:hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.error{
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.576);
    color: rgb(255, 0, 0);
    font-size: 15px;
    width: 30%;
    height: 20px;
    border-radius: 1000000000000000000000%;
}
.error_share{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #0000002f;
    align-items: center;
    color: rgb(255, 0, 0);
    font-size: 25px;
    width: 700px;
    border-radius: 100%;
    position: relative;
    right: -47vh;
    bottom: -3vh;






}
.error_sharing{
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.31);
    
    position: relative;
    left: -11vh;
    color: rgb(255, 0, 0);
    font-size: 15px;
    width: 50%;
    height: 30px;
    border-radius: 1000000000000000000000%;
}

.span{
    background:linear-gradient(to left, rgb(255,0,109), rgb(2,4,24));
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
span{
    background:linear-gradient(to left, rgb(255,0,109), rgb(2,4,24));
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
button:hover span{
    width: 100%;
}

button:hover {
    border: 3px solid rgb(2, 4, 24);
    box-shadow: 2px 2px rgb(2, 6, 46);
    border-radius: 30px;
}















.hero {
    height: 100%;
    width: 100%;
    position: absolute;
}
#enter{
    position:absolute;
    left: 570px;
    bottom: 100px;
}

.inner-text {
    position: relative;
    top: 300px;
    transform: translateY(-50%);
    font-size: 10vmin;
    @media only screen and (min-width: 320px) {
    padding-left: 15px;
    padding-right: 15px; 
    }
    @media only screen and (min-width: 400px) {
    padding-left: 40px;
    padding-right: 40px; 
    }
    @media only screen and (min-width: 680px) {
    font-size: 75px;
    }
    @media only screen and (min-width: 950px) {
    font-size: 100px;
    }
}

.p1 {
    display: inline-block;
    font-size: 1em;
    font-weight: 900;
    margin: 0;
    line-height: 1;
    @media only screen and (max-width: 465px) {
    display: block;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    }
}

.p2 {
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    font-size: 150px;
    text-decoration: underline;
    margin: 0;
    line-height: 1;
    color: #c41e60;
    @media only screen and (max-width: 465px) {
    position: relative;
    top: 0.6em;
    }
}

@keyframes fadeIn {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

.w_t{
    position: absolute;
    bottom: 10px;
    right: 36%;

}





/* ===================================== */

/* =============ROUTINE BOX / CONTAINER========= */

.routine_container{
    height: 90%;
    width: 750px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.routine_box{
    background-color: rgba(0, 0, 0, 0.356);
    width: 800px;
    padding: 10px;
    height:650px;
    border-radius: 10%;
    box-shadow: 2px 2px white;
}

.routine_label{
    font-size: 20px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.edit_btn{
    border-radius: 20%;
}





/* ==========================HOME SIDE BAR======================= */

.title_2{
    font-size: 40px;
    text-align: center;
    width: 160px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin-left: 15px;
    margin-top: 20px;
    text-decoration: underline;
}


.home_side_bar{
    width: 200px;
    height: 100%;
    background: linear-gradient(to top,black, rgba(0, 14, 38, 0.69));
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right:  2px solid rgba(0, 0, 0, 0.538);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(15px);
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    transition: all .05s ease;
    
}




.home_sBar{
    /* margin-left: -18vh;
    margin-right: 20px; */
    margin-top: 0;
    padding: 0px;
    

}


.home_sBar ul li{
    list-style: none;
    position: relative;
    border-radius: 1px;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 2px;
    margin: 0 auto;
}
.itemS{
    margin-left: 30px;
    margin-bottom: -12px;

}

.home_sBar ul li a{
    display: block;
    text-decoration:none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    margin-left: -35px;
    padding: 13px 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.177);
    position: relative;
    width: 200px;
}

.home_sBar ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: linear-gradient(to left,rgb(255, 12, 109), rgba(255, 255, 255, 0.638), rgb(255, 12, 109));
    border-radius: 300%;
    position: absolute;
    left: 0;
    bottom: 3px;
    transition: 0.6s;
    margin-left: -15px;

}

.home_sBar ul li:hover::after{
    width: 100%;
}









.icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* background: white; */
    perspective: 900px;
}
.icon .icon_items{
    position: absolute;
    width: 75%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.202), rgba(255, 255, 255, 0.202));
    box-shadow: 2px 2px 2px 2px rgb(255, 12, 109);
    height: 100%;
    border-radius: 10000%;
    margin-top: -40px;
    margin-left: -27px;
    border: 5px solid rgb(255, 255, 255);
}


.icon .icon_items:nth-child(1){
    border-bottom: 15px solid rgb(255, 255, 255);
    transform: rotateX(10deg) rotateY(-50deg);
    animation: rotate-one 4s linear infinite;
}

.icon .icon_items:nth-child(2){
    border-right: 15px solid rgb(255, 255, 255);
    transform: rotateX(25deg) rotateY(135deg);
    animation: rotate-two 3s linear infinite;
}
.icon .icon_items:nth-child(3){
    border-left: 10px solid rgb(255, 12, 109);
    transform: rotateX(50deg) rotateY(-20deg);
    animation: rotate-three 3s linear infinite;
}

.icon .icon_items:nth-child(4){
    border-top: 10px solid rgb(255, 255, 255);
    transform: rotateX(30deg) rotateY(145deg);
    animation: rotate-four 3s linear infinite;
}




@keyframes rotate-one {
    to{
        transform: rotateX(100deg) rotateY(70deg) rotateZ(0deg);

    }
}

@keyframes rotate-two {
    to{
        transform: rotateX(-50deg) rotateY(-1deg) rotateZ(0deg);

    }
}

@keyframes rotate-three {
    to{
        transform: rotateX(110deg) rotateY(-35deg) rotateZ(360deg);

    }
}
@keyframes rotate-four {
    to{
        transform: rotateX(-40deg) rotateY(125deg) rotateZ(90deg);

    }

    
} 
.w_time{
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    color: rgb(255, 12, 109);
    position: relative;
    right: -28px;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


    
}

.image-text{
    background-image: url(../imgs/new_imgs/blue_dots1.gif);
    background-size: cover;
    background-clip: text;
    color: transparent;


    /* position: absolute;
    right: 10vh; */
}

.f_home{
    position: absolute;
    right: -48vh;
    bottom: 20px;
}



/* ================================================================ */