#title_routine{
    font-size: 50px;
    font-weight: 600;
    position: relative;
    right:-50vh;
    margin-top: 3vh;
    padding: 0px;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.box_routine{
    margin-top: 5vh;
    width: 100vh;
    position: absolute;
    right: 26vh;
    height: auto;
    border-style:unset;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.790), rgba(0, 14, 38, 0.790));
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right:  2px solid rgba(119, 119, 119, 0.538);
    backdrop-filter: blur(2px) ;
    -webkit-backdrop-filter:blur(2px);

}

.boxx_routine{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10vh;
    margin: 20px;
    font-size: 2.3vh;
    text-decoration: underline;

}

.label_routine{
    font-size: 3vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', ;
    color: rgb(255,0,109);
    font-weight: 800;
}
